:root {
  --whiteText: #fcfcfc;
  --blackText: rgba(19, 19, 19, 1);
  --grayText: #ababab;
  --darkText: #7a7a7a;
  --yellowText: #f8d24e;
  --mainBG: #84a178;
  --whiteBG: #ffffff;
  --modalBG: #f5f5f5;
  --modalBG2: #fcfcfc;
  --ice-cream: #aec6a5;
  --ice-coffee: #efd478;
  --milkshakes: #d6936d;
  --tintIcecream: rgba(156, 190, 143, 0.7);
  --tintIcecoffee: rgba(248, 210, 78, 0.7);
  --tintMilkshake: rgba(213, 117, 63, 0.7);
  --formBG: rgba(248, 210, 78, 0.1);
  --modalGreen: #9cbe8f;
  --BTN: #f8d24e;
  --accentBTN: #0a8817;
  --disabledBTN: #ababab;
  --Gap: 16px;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--blackText);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.section {
  padding: 40px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 60px 0;
  }
}
.product-btn {
  width: 134px;
  height: 42px;
  border: solid 2px rgb(248, 210, 78);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  align-items: center;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1), color cubic-bezier(0.4, 0, 0.2, 1);
}
.product-btn:hover {
  border-color: rgb(10, 136, 23);
}
.product-btn:focus {
  color: rgb(252, 252, 252);
}
.product-btn:visited {
  border-color: rgb(171, 171, 171);
}

.product-btn__mob {
  width: 64px;
  height: 24px;
  border: solid 2px rgb(248, 210, 78);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 600;
  font-size: 8px;
  line-height: 1.25;
  align-items: center;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1), color cubic-bezier(0.4, 0, 0.2, 1);
}
.product-btn__mob:hover {
  border-color: rgb(10, 136, 23);
}
.product-btn__mob:focus {
  color: rgb(252, 252, 252);
}
.product-btn__mob:visited {
  border-color: rgb(171, 171, 171);
}

.made-btn {
  width: 154px;
  height: 40px;
  border: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  align-items: center;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: rgb(248, 210, 78);
  cursor: pointer;
  transition: color cubic-bezier(0.4, 0, 0.2, 1);
}
.made-btn:hover {
  color: rgb(10, 136, 23);
}
.made-btn:focus {
  color: rgb(252, 252, 252);
}
.made-btn:visited {
  color: rgb(171, 171, 171);
}

.made-btn__mob {
  width: 82px;
  height: 24px;
  border: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 8px;
  line-height: 1.25;
  align-items: center;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: rgb(248, 210, 78);
  cursor: pointer;
  transition: color cubic-bezier(0.4, 0, 0.2, 1);
}
.made-btn__mob:hover {
  color: rgb(10, 136, 23);
}
.made-btn__mob:focus {
  color: rgb(252, 252, 252);
}
.made-btn__mob:visited {
  color: rgb(171, 171, 171);
}

.read-btn {
  width: 164px;
  height: 42px;
  border: solid 2px rgb(248, 210, 78);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  align-items: center;
  text-align: center;
  color: black;
  background-color: #f8d24e;
  cursor: pointer;
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1), color cubic-bezier(0.4, 0, 0.2, 1);
}
.read-btn:hover {
  border-color: rgb(10, 136, 23);
  background-color: rgb(10, 136, 23);
}
.read-btn:focus {
  color: rgb(252, 252, 252);
  border-color: rgb(10, 136, 23);
  background-color: rgb(10, 136, 23);
}
.read-btn:visited {
  border-color: rgb(171, 171, 171);
  background-color: rgb(171, 171, 171);
}

.location-btn {
  width: 196px;
  height: 42px;
  border: solid 2px rgb(248, 210, 78);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  align-items: center;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1), color cubic-bezier(0.4, 0, 0.2, 1);
}
.location-btn:hover {
  border-color: rgb(10, 136, 23);
  background-color: rgb(10, 136, 23);
}
.location-btn:focus {
  color: rgb(252, 252, 252);
  border-color: rgb(10, 136, 23);
  background-color: rgb(10, 136, 23);
}
.location-btn:visited {
  border-color: rgb(171, 171, 171);
  background-color: rgb(171, 171, 171);
}

.franchise-btn {
  width: 196px;
  height: 42px;
  border: solid 2px rgb(248, 210, 78);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  align-items: center;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1), color cubic-bezier(0.4, 0, 0.2, 1);
}
.franchise-btn:hover {
  border-color: rgb(10, 136, 23);
}
.franchise-btn:focus {
  color: rgb(252, 252, 252);
}
.franchise-btn:visited {
  border-color: rgb(171, 171, 171);
}

.buy-btn {
  width: 152px;
  height: 42px;
  border: solid 2px rgb(248, 210, 78);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  align-items: center;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1), color cubic-bezier(0.4, 0, 0.2, 1);
}
.buy-btn:hover {
  border-color: rgb(10, 136, 23);
  background-color: rgb(10, 136, 23);
}
.buy-btn:focus {
  color: rgb(252, 252, 252);
  background-color: rgb(10, 136, 23);
}
.buy-btn:visited {
  border-color: rgb(171, 171, 171);
  background-color: rgb(171, 171, 171);
}/*# sourceMappingURL=main.css.map */