<!-- Секція під корівкою -->
<section class="section">
    <div class="container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="list advantages__list">
            <li class="advantages__item">
                <div class="advantages__image">
                    <picture>
                        <source srcset="./images/advantages-img1-mob-1x.png, ./images/advantages-img1-mob-2x.png"
                            type="image">
                        <img src="./images/advantages-img1-mob-1x.png" alt="cow">
                    </picture>
                </div>
                <p class="advantages__subtittle">721</p>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <div class="advantages__image">
                    <picture>
                        <source srcset="./images/advantages-img2-mob-1x.png, ./images/advantages-img2-mob-2x.png"
                            type="image">
                        <img src="./images/advantages-img2-mob-1x.png" alt="balance">
                    </picture>
                </div>
                <p class="advantages__subtittle">16kg</p>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <div class="advantages__image">
                    <picture>
                        <source srcset="./images/advantages-img3-mob-1x.png, ./images/advantages-img3-mob-2x.png"
                            type="image">
                        <img src="./images/advantages-img3-mob-1x.png" alt="ice_cream">
                    </picture>
                </div>
                <p class="advantages__subtittle">84</p>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>