<section class="gallery">
    <div class="container">
        <h2 class="visually-hidden">Gallery</h2>
        <div class="swiper image-slider">
            <div class="image-slider__wrapper swiper-wrapper">
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <source
                                srcset="./images/gallery-icecream-desktop.jpg 1x, ./images/gallery-icecream-desktop-2x.jpg 2x"
                                media="(min-width: 1200px)" />
                            <source
                                srcset="./images/gallery-icecream-tab.jpg 1x, ./images/gallery-icecream-tab-2x.jpg 2x"
                                media="(min-width: 768px)" />
                            <source
                                srcset="./images/gallery-icecream-mobile.jpg 1x, ./images/gallery-icecream-mobile-2x.jpg 2x"
                                media="(max-width: 767px)" />
                            <img src="./images/gallery-icecream-mobile.jpg" alt="Ice Crem 1" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery-icecream_1.jpg" alt="Ice Crem 2" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery-icecream_2.jpg" alt="Ice Crem 3" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery_icecream_3.jpg" alt="Ice Crem 4" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery_icecream_4.jpg" alt="Ice Crem 5" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery_icecream_5.jpg" alt="Ice Crem 6" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery_icecream_6.jpg" alt="Ice Crem 7" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery_icecream_7.jpg" alt="Ice Crem 8" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery_icecream_8.jpg" alt="Ice Crem 9" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery_icecream_9.jpg" alt="Ice Crem 10" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery_icecream_10.jpg" alt="Ice Crem 11" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery_icecream_11.jpg" alt="Ice Crem 12" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery_icecream_12.jpg" alt="Ice Crem 13" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery_icecream_13.jpg" alt="Ice Crem 14" class="gallery__img">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>