<section class="section products">
    <div class="container">
        <b class="section__suptitle">100% natural</b>
        <h2 class="section__title">products</h2>
        <ul class="product-cards">
            <li class="product product__ice-cream">
                <div class="product__img-thumb">
                    <img 
                        srcset="./images/buy-modal-icecrema-tel-1x-min.jpg 1x, ./images/buy-modal-icecrema-tel-2x-min.jpg 2x" 
                        src="./images/buy-modal-icecrema-tel-1x-min.jpg" 
                        alt="Soft ice-cream" 
                        class="product__img product__img--mob" 
                        width="200"
                    >
                    <img 
                        srcset="./images/buy-modal-icecrema-tel-1x-min.jpg 1x, ./images/buy-modal-icecrema-tel-2x-min.jpg 2x" 
                        src="./images/buy-modal-icecrema-tel-1x-min.jpg " 
                        alt="Soft ice-cream" 
                        class="product__img product__img--tab" 
                        width="200"
                    >
                    <img 
                        srcset="./images/buy-modal-icecrema-desk-1x-min.jpg 1x, ./images/buy-modal-icecrema-desk-2x-min.jpg 2x" 
                        src="./images/buy-modal-icecrema-desk-1x-min.jpg" 
                        alt="Soft ice-cream" 
                        class="product__img product__img--desk" 
                        width="300"
                    >
                </div>
                    <div class="product__descr">
                        <h3 class="product__title">ice cream</h3>
                        <p class="product__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
                        </p>
                    </div>
                    <button class="product__button" type="button" data-modal-open="">
                        <span class="product__button-icon">
                            <svg width="40" height="14">
                                <use href="./images/symbol-defs.svg#button-arrow"></use>
                            </svg>
                        </span>
                    </button>
            </li>
            <li class="product product__ice-coffee">
                <div class="product__img-thumb">
                    <img 
                        srcset="./images/buy-modal-icecoffee-tel-1x-min.jpg 1x, ./images/buy-modal-icecoffee-tel-2x-min.jpg 2x" 
                        src="./images/buy-modal-icecoffee-tel-1x-min.jpg" 
                        alt="Fragrant ice coffee" 
                        class="product__img product__img--mob" 
                        width="200"
                    >
                    <img 
                        srcset="./images/buy-modal-icecoffee-tel-1x-min.jpg 1x, ./images/buy-modal-icecoffee-tel-2x-min.jpg 2x" 
                        src="./images/buy-modal-icecoffee-tel-1x-min.jpg " 
                        alt="Fragrant ice coffee"
                        class="product__img product__img--tab" 
                        width="200"
                    >
                    <img 
                        srcset="./images/buy-modal-icecoffee-desk-1x-min.jpg 1x, ./images/buy-modal-icecoffee-desk-2x-min.jpg 2x" 
                        src="./images/buy-modal-icecoffee-desk-1x-min.jpg" 
                        alt="Fragrant ice coffee"
                        class="product__img product__img--desk" 
                        width="300"
                    >
                </div>
                <div class="product__descr">
                    <h3 class="product__title">ice coffee</h3>
                    <p class="product__text">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers
                    </p>
                </div>
                <button class="product__button" type="button" data-modal-open="">
                    <span class="product__button-icon">
                        <svg width="40" height="14">
                            <use href="./images/symbol-defs.svg#button-arrow"></use>
                        </svg>
                    </span>
                </button>                
            </li>
            <li class="product product__milkshake">
                <div class="product__img-thumb">
                    <img 
                        srcset="./images/buy-modal-milkshake-tel-1x-min.jpg 1x, ./images/buy-modal-milkshake-tel-2x-min.jpg 2x" 
                        src="./images/buy-modal-milkshake-tel-1x-min.jpg" 
                        alt="Sweet milkshake"
                        class="product__img product__img--mob" 
                        width="200"
                    >
                    <img 
                        srcset="./images/buy-modal-milkshake-tel-1x-min.jpg 1x, ./images/buy-modal-milkshake-tel-2x-min.jpg 2x" 
                        src="./images/buy-modal-milkshake-tel-1x-min.jpg " 
                        alt="Sweet milkshake"
                        class="product__img product__img--tab" 
                        width="200"
                    >
                    <img 
                        srcset="./images/buy-modal-milkshake-desk-1x-min.jpg 1x, ./images/buy-modal-milkshake-desk-2x-min.jpg 2x" 
                        src="./images/buy-modal-milkshake-desk-1x-min.jpg" 
                        alt="Sweet milkshake"
                        class="product__img product__img--desk" 
                        width="300"
                    >
                </div>
                <div class="product__descr">
                    <h3 class="product__title">milkshakes</h3>
                    <p class="product__text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice
                    </p>
                </div>
                <button class="product__button" type="button" data-modal-open="">
                    <span class="product__button-icon">
                        <svg width="40" height="14">
                            <use href="./images/symbol-defs.svg#button-arrow"></use>
                        </svg>
                    </span>
                </button>                
            </li>
        </ul>
    </div>
</section>